.title__network{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 0%;
}
.title__network__item{
    color: var(--preto-100, #464646);
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 500;
}